__pycache__
**/__pycache__/
.py[cod]

__init__
.mypy_cache

*vscode*

venv/
venv
.venv

.env
env/

.idea
.idea/

whitelist.txt

Makefile

.pytest_cache

*.sage.py
dump.sage

*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc