__pycache__
**/__pycache__/
.py[cod]

__init__
.mypy_cache

*vscode*

venv/
venv
.venv

.env
env/

.idea
.idea/

whitelist.txt

Makefile

.pytest_cache

*.sage.py
dump.sage

exam/linear_stat_analog/*
!exam/linear_stat_analog/*.py
!exam/linear_stat_analog/*.pdf